* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-red: #ff6525;
  --color-blue: #272444;

  --color-black: #000000;
  --color-white: #fff;
}

body {
  font-family: "Oswald", sans-serif;
  overflow-x: hidden !important;
}

h1 {
  font-size: 6.125rem;
  font-weight: bold;
  line-height: 7.688rem;
}

h2 {
  color: #272444;
  font-size: 3.5rem;
  line-height: 4.375rem;
}

h6 {
  color: var(--color-red);
}

input:focus {
  box-shadow: none;
  outline: none;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #797373;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
}

.main-btn {
  background-color: var(--color-red);
  padding: 0.6rem 1.8rem;
  border-radius: 17px;
  color: var(--color-white);
  transition: all 0.2s ease-in-out;
}

.main-btn:hover {
  background: transparent;
  color: var(--color-black);
  border: 2px solid var(--color-red);
}

/* Navbar */
.navbar {
  background-color: var(--color-white);
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav-link {
  color: var(--color-blue);
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 0 0.5rem;
}

.navbar .navbar-brand .uil-telegram-alt {
  color: var(--color-red);
}

.nav-link:hover {
  color: var(--color-red);
}

.nav-link.active {
  color: var(--color-red);
  cursor: pointer;
}

.navbar .navbar-toggler {
  border: 0;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  position: absolute;
  right: 2rem;
  font-size: 40px;
  transform: translateY(-50%);
  top: 60%;
}

.navbar .navbar-nav  {
    display: flex;
    align-items: center;
}

/* Banner Wrapper */
.banner-wrapper {
  margin-top: 2rem !important;
  overflow-x: hidden;
  padding-top: 5rem;
  position: relative;
  margin-bottom: 5rem;
}
.banner-wrapper span {
  color: var(--color-red);
}

.destination-wrapper .card {
  border-radius: 1rem;
}

.destination-wrapper i {
  color: var(--color-red);
}

.banner-wrapper .box {
  display: flex;
  background: var(--color-white);
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0.2rem;
  width: 80%;
  padding: 0.8rem 0;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.banner-wrapper .box .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.banner-wrapper .box .search {
   background: #3DB3AD;
   padding: 1rem 2rem;
   font-size: 1.5rem;
   border-radius: 20px;

}


/* Services */
.services-wrapper {
  margin-top: 5rem;
}
.services-wrapper .about .about-services {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.services-wrapper .about .about-services .icon i {
  padding: 0.7rem 1.2rem;
  background: #f5f3f3;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 8px;
}

/* packages-wrapper */
.packages-wrapper {
  margin-top: 5rem;
}

.tile {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s;
}

.tile img:hover {
  filter: brightness(50%);
  transform: scale(1.1);
}

.tile p {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.3rem 1rem;
  color: var(--color-red);
  background: var(--color-red);
  color: var(--color-white);
  border-radius: 50px;
  font-size: 14px;
}

/* contact */
.contact-wrapper {
    background: #fffafa;
    margin-top: 5rem;
}
.contact-wrapper .main-btn {
    background: var(--color-red);
    color: var(--color-white);
}

.contact-wrapper .main-btn:hover {
    background: transparent;
    color: var(--color-red);
    border: 2px solid var(--color-red) !important;
}



footer {
    background: #ded7d7;
    margin-top: 5rem;
}

footer .social-icon {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    margin: 1rem 0;
}
footer i {
    color: var(--color-white);
    padding: 1rem;
    border-radius: 50%;
    background: var(--color-red);
    cursor: pointer;
    object-fit: cover;
}

footer i:hover {
    color: var(--color-red);
    background: var(--color-white)
}

@media (max-width: 1400px) {
}

@media (max-width: 1230px) {
}

@media (max-width: 991px) {
  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .navbar .navbar-nav {
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    padding: 1rem 0 3rem;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .navbar .navbar-nav .nav-link {
    margin: 0.5rem 0;
  }

  .banner-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

  }

  .banner-wrapper img {
    height: 600px;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .banner-wrapper {
      margin-bottom: 5rem;
    }
    .banner-wrapper .box {
      width: 100%;
    }

    .tile p {
      font-size: 12px;
    }
}
